.card-meal-custom {
	background: #303030 !important;
	padding: 0px !important;
	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
    max-width: 190px;

	.header-card-meal {
		padding: 10px 10px;

		h4,
		h5 {
			margin: 0px;
    		max-width: 150px;
			text-align: center;
		}
	}

	.image-container {
    	flex: 1;
    	padding: 8px;
    	display: flex;
    	justify-content: center;

		img {
			max-width: 175px;
			object-fit: cover;
			border-radius: 8px;
			filter: grayscale(75%)
		}
	}

	.footer-card-meal {
		padding: 10px 0px;

		.textarea-content {
			padding: 10px 0 10px 0;
			max-width: 82%;

			textarea {
				resize: none !important;
			}
		}
	}
}
