#header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > h1 {
    max-width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  button {
    margin-left: 8px;
  }
}

#content {
  display: flex;

  > section {
    width: 22%;
    position: relative;
    border-right: 1px solid;

    > article {
      top: 0px;
      width: 100%;
      height: 65vh;
      position: sticky;
      overflow-y: auto;

      > div {
        display: flex;
        align-items: center;
        justify-content: space-between;

        border-bottom: 1px solid;
        margin-bottom: 8px;
        padding-bottom: 8px;

        &:last-of-type {
          border-bottom: none;
        }

        > span {
          max-width: 60%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

#footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
