<div class="page-layout simple fullwidth docs">
	<div
		class="header accent bg-gradient-primary p-24"
		fxLayout="row"
		fxLayoutAlign="space-between center"
	>
		<div>
			<div fxLayout="row" fxLayoutAlign="start center">
				<mat-icon class="secondary-text s-18">home</mat-icon>
				<mat-icon class="secondary-text s-16">chevron_right</mat-icon>
				<span class="secondary-text">Membro</span>
				<mat-icon class="secondary-text s-16">chevron_right</mat-icon>
				<span class="secondary-text">Detalhes Membro</span>
			</div>

			<div class="h2 mt-16">{{ member.name || title }}</div>
		</div>

		<button mat-raised-button color="accent" (click)="saveUser()">
			Salvar
		</button>
	</div>

	<div class="content p-24">
		<mat-tab-group [selectedIndex]="2">
			<mat-tab label="Dados cadastrais">
				<div class="content p-24">
					<span class="mat-subheading-1 my-16">Dados Pessoais</span>

					<div fxLayout="row">
						<mat-form-field floatlabel="always" fxFlex="35">
							<mat-label>Nome </mat-label>
							<input
								matInput
								id="name"
								name="name"
								[(ngModel)]="member.name"
								disabled
							/>
						</mat-form-field>

						<mat-form-field
							floatlabel="always"
							fxFlex="15"
							class="ml-8"
						>
							<mat-label>Idade</mat-label>
							<input
								matInput
								id="age"
								name="age"
								[(ngModel)]="member.age"
								disabled
							/>
						</mat-form-field>
					</div>

					<div fxLayout="row">
						<mat-form-field floatlabel="always" fxFlex="25">
							<mat-label>Email </mat-label>
							<input
								matInput
								id="email"
								name="email"
								[(ngModel)]="member.email"
								disabled
							/>
						</mat-form-field>

						<mat-form-field
							floatlabel="always"
							fxFlex="25"
							class="ml-8"
						>
							<mat-label>Telefone</mat-label>
							<input
								matInput
								id="phone"
								name="phone"
								[(ngModel)]="member.phoneNumber"
								disabled
							/>
						</mat-form-field>
					</div>

					<div fxLayout="row">
						<mat-form-field floatlabel="always" fxFlex="25">
							<mat-label>CPF</mat-label>
							<input
								matInput
								id="cpf"
								name="cpf"
								[(ngModel)]="member.cpf"
								disabled
							/>
						</mat-form-field>
					</div>

					<div fxLayout="row">
						<mat-form-field floatlabel="always" fxFlex="25">
							<mat-label>Dia do pagamento</mat-label>
							<input
								matInput
								id="payday"
								name="payday"
								[(ngModel)]="member.payday"
							/>
						</mat-form-field>
					</div>

					<span class="mat-subheading-1 my-16"
						>Dados Para o Desafio</span
					>

					<div fxLayout="row">
						<mat-form-field floatlabel="always" fxFlex="20">
							<mat-label>Peso Inicial</mat-label>
							<input
								matInput
								id="startingWeight"
								name="startingWeight"
								[(ngModel)]="member.startingWeight"
							/>
						</mat-form-field>

						<mat-form-field
							floatlabel="always"
							fxFlex="20"
							class="ml-8"
						>
							<mat-label>Peso Atual</mat-label>
							<input
								matInput
								id="currentWeight"
								name="currentWeight"
								[(ngModel)]="member.currentWeight"
							/>
						</mat-form-field>

						<mat-form-field
							floatlabel="always"
							fxFlex="10"
							class="ml-8"
						>
							<mat-label>Altura</mat-label>
							<input
								matInput
								id="height"
								name="height"
								[(ngModel)]="member.height"
							/>
						</mat-form-field>
					</div>

					<div fxLayout="row">
						<mat-form-field floatlabel="always" fxFlex="25">
							<mat-label>Meta da Semana</mat-label>
							<input
								matInput
								id="goalWeek"
								name="goalWeek"
								[(ngModel)]="member.goalWeek"
							/>
						</mat-form-field>

						<mat-form-field
							floatlabel="always"
							fxFlex="25"
							class="ml-8"
						>
							<mat-label>Meta Final</mat-label>
							<input
								matInput
								id="goalWeight"
								name="goalWeight"
								[(ngModel)]="member.goalWeight"
							/>
						</mat-form-field>
					</div>

					<div fxLayout="row">
						<button mat-raised-button color="accent" (click)="removeUser()">
							Remover Usuario
						</button>
					</div>
				</div>
			</mat-tab>

			<mat-tab label="Cardápio">
				<app-menu-member [userId]="userId"></app-menu-member>
			</mat-tab>

			<mat-tab label="Exercicios">
				<app-exercise-member [userId]="userId"></app-exercise-member>
			</mat-tab>

			<mat-tab label="Financeiro">
				<app-financial-member [member]="member" [userId]="userId"></app-financial-member>
			</mat-tab>

		</mat-tab-group>
	</div>
</div>
