mat-button-toggle-group {
  padding: 0 !important;
  border: none !important;
  justify-content: space-between;

  > mat-button-toggle {
    width: 33%;

    border-radius: 10px;
    border: solid 1px rgba(255, 255, 255, 0.12);
  }
}
